@page
@model UpsertModel
@{
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Product.Id" hidden/>
        <input asp-for="Product.CoverImageUrl" hidden />
        <div class="row">
            <div class="col-10">
                            <div class="border p-3 mt-4 row">
                    <div class="col-12 pb-2">
                        <h2 class="text-primary pl-3">@(Model.Product.Id != Guid.Empty?"Update":"Add") Album</h2>
                        <hr/>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Product.Title"></label>
                        <input asp-for="@Model.Product.Title" class="form-control"/>
                        <span asp-validation-for="Product.Title" class="text-danger"></span>
                    </div>
                <div class="mb-3">
                    <label asp-for="Product.Description"></label>
                    <textarea asp-for="@Model.Product.Description" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                    <div class="mb-3 col-6">
                        <label asp-for="Product.Author"></label>
                        <input asp-for="@Model.Product.Author" class="form-control"/>
                        <span asp-validation-for="Product.Author" class="text-danger"></span>
                    </div>
                <div class="mb-3 col-6">
                        <label asp-for="Product.EAN"></label>
                        <input asp-for="@Model.Product.EAN" class="form-control"/>
                        <span asp-validation-for="Product.EAN" class="text-danger"></span>
                    </div>
                <div class="mb-3 col-6">
                        <label asp-for="Product.Price"></label>
                        <input asp-for="@Model.Product.Price" type="number" step="0.01" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                <div class="mb-3 col-6">
                        <label asp-for="Product.ListPrice"></label>
                        <input asp-for="@Model.Product.ListPrice" type="number" step="0.01" class="form-control" ></input>
                        <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                    </div>
                <div class="mb-3">
                    <label asp-for="Product.CoverImageUrl"></label>
                    <input type="file" class="form-control" name="file"/>               
                </div>
                <div class="mb-3 col-6">
                        <label asp-for="Product.CaseTypeId"></label>
                        <select asp-for="Product.CaseTypeId" asp-items="@Model.CaseTypeList" class="form-select">
                        <option disabled selected>--Select Case Type--</option></select>
                        <span asp-validation-for="Product.CaseTypeId" class="text-danger"></span>
                    </div>
                <div class="mb-3 col-6">
                        <label asp-for="Product.AlbumTypeId"></label>
                        <select asp-for="Product.AlbumTypeId" asp-items="@Model.AlbumTypeList" class="form-select">
                        <option disabled selected>--Select Album Type--</option></select>
                        <span asp-validation-for="Product.AlbumTypeId" class="text-danger"></span>
                    </div class="col-12"> 
                    @if (Model.Product.Id != Guid.Empty){
                        <button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
                }
                else{
                        <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
                }
                        <a asp-page="index" class="btn btn-outline-secondary" style="width:150px;">Back</a>
                    </div>

            </div>
            <div class="col-2">
            <img src="@Model.Product.CoverImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9"/>
            </div>
        </div>
    </form>
}

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}
